:root{
    --primary-color: #0A1128;
    --light-gray-color: #EEEEEE;
    --white-color: #FFFFFF;
    --secondary-color: crimson;
    --gap: 3rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;  
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 6rem;
    text-transform: uppercase; 
}
h2{
    font-size: 4.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    line-height: 1.2;
}
h3{
    font-size: 5rem;
}
h4{
    font-size: 4.5rem;
}
h5{
    font-size: 4rem;
}
h6{
    font-size: 3.5rem;
}
a {
    text-decoration: none;
}
p{
    margin-bottom: 3rem;
}
.main-bg{
    background-image: url('../img/confetti-doodles.svg');
    background-size: cover;
    background-position: center center; 
    color: var(--white-color);
}
.white-bg{
    background: var(--white-color);
    color: var(--primary-color);
}
.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap);
}
.section{
    min-height: 100vh;
}
.menu{
    position: fixed;
    background: var(--white-color);
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom: 0.1rem solid var(--light-gray-color);
}
.menu-content{
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
}
.menu ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    
}
.menu ul li a{
    display: block;
    text-decoration: none; 
    text-transform: uppercase;
    padding: 1.5rem;
    position: relative;
    color: var(--primary-color);
}
.menu h1{
    font-size: 2.3rem;
    color: var(--primary-color);
}
.menu h1 a{
    color: inherit;
}
.menu ul li a::after{
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}
.menu ul li a:hover::after{
    width: 50%;
    left: 25%;
}

.menu-spacing{
    height: 6rem;
}
.intro-content{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}
.intro-text-content, .intro-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.intro-img{
    max-width: 100%;
   height: auto;
}
.top3-content{
    max-width: 100rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}
.grid-one-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}
.grid h3 {
    font-size: 2rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 3rem;
    
}
.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 7rem;
    font-style: italic;
    top: -3rem;
    left: -2rem;
    transform: rotate(5deg);
}
.grid-main-heading{
    margin-bottom: 2rem;
}
.grid-description{
    padding-bottom: 5rem;
}
.gallery-img{
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}
.gallery-img img{
    transition: all 300ms ease-in-out;
}
.gallery-img img:hover{
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}
table{
    width: 100%;
    border-collapse: collapse;
}
table td, table th{
    text-align: left;
    border: 0.1rem solid var(--light-gray-color);
    padding: 1rem;
    text-align: left;
}
tfoot td, table th{
    background: var(--light-gray-color);
}
table caption{
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}
.responsive-table{
    overflow-x: auto;
}
.contact-form{
    grid-column: span 2;
}
.contact-form .form-grid{
    border: none;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: var(--gap);
}
.form-group{
    flex: 1 1 auto;
}
.form-group label{
    display: block;
    margin-bottom: 0.5rem;
}
.form-group input, .form-group textarea{
    width: 100%;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 0.5rem;
}
.full-width {
    width: 100%;
}
.form-group button{
    border: 0.2rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.form-group button:hover{
    background: var(--white-color);
    color: var(--primary-color);
}

.form-group input:focus, .form-group textarea:focus{
    outline: 0.2rem solid var(--secondary-color);
}

.footer{
    text-align: center;
    padding: 2rem 0;
    font-size: 1.6rem;
}
.close-menu{
    display: none;
}
  .back-to-top{
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        background: var(--white-color);
        width: 5rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        text-decoration: none;
        color: var(--primary-color);
    }
@media (max-width: 800px){
    .intro-content{
        grid-template-columns: 1fr;
    }
    .contact-form{
        grid-column: span 1;
    }
    .grid{
        grid-template-columns: 1fr;
    }
    .menu{
        bottom: 0;
        text-align: center;
    }
    .menu-content, .menu-content ul{
        flex-direction: column;
        justify-content: center;
    }
    .menu-content{
        height: 100vh;
    }
    .menu{
        display: none;
    }
 
    .close-menu-label::after{
        content: '☰';
        position: fixed;
         z-index: 2;
        top: 2rem;
        right: 2rem;
        background-color: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        cursor: pointer;
        padding: 0.2rem;
    }
    .close-menu:checked ~ .menu{
        display: block;
    }
    .close-menu:checked ~ .close-menu-label::after{
        content: '×';
    }
    .menu-spacing{
        display: none;
    }
  
}